@charset "utf-8";

/* news */

#newssec {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#newssec > div {}
#newssec > div > h3 {}
#newssec > div > ul {
    display: flex;
}
#newssec > div > ul > li {
    width: 30%;
}

/* arc1 */
/* 
#arc1 {}
#arc1 > dt {}
#arc1 > dt > a {}
#arc1 .arcImg {}
#arc1 .arcImg a {}
#arc1 .arcgame {}
#arc1 .arcgame a {}
#arc1 .arccontent {}
*/

/* arc2 */
/* 
#arc2 {}
#arc2 > dt {}
#arc2 > dt > a {}
#arc2 .arcImg {}
#arc2 .arcImg a {}
#arc2 .arcgame {}
#arc2 .arcgame a {}
#arc2 .arccontent {} */

/* arc3 */
/* 
#arc3 {}
#arc3 > dt {}
#arc3 > dt > a {}
#arc3 .arcImg {}
#arc3 .arcImg a {}
#arc3 .arcgame {}
#arc3 .arcgame a {}
#arc3 .arccontent {}
*/

/* #more {} */

/* top */
#top{
    background: #000;
    position: fixed; right:25px; bottom:100px;
    text-align: center; line-height: 60px;
    border-radius: 50%; text-transform: uppercase;
    overflow: hidden;
}
#top a {
    display: block; width: 60px; height: 60px;
    color: #fff;
}

/* footer */

footer {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    /* justify-content: column; */
    /* flex-wrap: wrap; */

}
#fTop {
    display: flex;
    /* flex-wrap: wrap; */
}
#flogo {
    width: 300px;
    height: 50px;
    display: block;
    background: url(../images/footer_logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
footer address {
    /* left: 0; */
}
footer address p {}

#gdweb {
    width: 300px;
    height: 50px;
    display: block;
    background: url(../images/winner_logo.jpg) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#fgnbList {
    right:0;
    display: flex;
}
#fgnbList li{
    margin-left: 20px;
    width: 100px;
}
#fbtm {
    width: 100%;
    display: flex;
}
#fbtm dl {
    right: 0;
}
#fbtm dt {}
#fbtm dt::after {}
#fbtm dd{
    display: hidden;
}



