@charset "utf-8";


     
/* HEADER */
#header{width: 100%; height: 70px;
        border: 1px solid #fff;
        display: flex; 
        justify-content: center;
        z-index: 99;
        position: fixed;
        overflow: hidden;
        }
#logo a{display: block; width: 133px; height: 42px;
        background: url(../images/main_logo.png);
        text-indent: 110%; overflow: hidden;
        position: absolute; left:70px; top:14px;}

#lnb{
     position: absolute;
     top:25px; right:80px;
     background: #fff;
     font-size: 11px;
     border-radius: 15px;
     text-transform: uppercase;
     }
#lnbList{display: flex;
        border-radius: 15px;
        background: #000;
    }
#lnbList > li{padding: 5px 10px;}

#lnbList > li > a {
    color: #fff;
}
#gnbList{
         display: flex;
         text-align: center;}
#gnbList > li{margin: 0 15px; font-weight: bold; font-size: 20px;}
#gnbList > li > a{display: block;
              height: 35px;
              line-height: 70px;}
#gnbview > i{
        display: none;
        position: absolute;
        top: 21px;
        right: 5px;
        font-size: 30px;
}
.snb{margin-top: 50px;}
.snb > li > a{line-height: 35px;}




/* WHO WE ARE */

#who{
    position: relative;
    width: 100vw; 
    height: 1000px;  
    background: url(../images/main_mid_bg_02_new.jpg) no-repeat;
    background-size: cover;
    }

#whoWrap {
    width: 1280px;
    padding: 250px 0 380px;
    margin: 0 auto;
    }


#whoWrap > h2{
    height: 100px;
    font-size: 50px;}



.img{
    width: 10%;
    height: 300px;
    background-image: url(../images/yoon.png) no-repeat left 50px center;
    background-size: contain;
    display: block;
    z-index: 999;
    }

#back1{width: 23%;}

.black{margin:0; padding:0;}

.p1{
    font-size:1.7vw; 
    color:#cad401; 
    font-weight: 900;
    margin-bottom:  20px;}

.p2{font-size: 3.2vw; color:#222; font-weight: 900;}

.p2 span{font-size: 1.3vw; color:#999999; padding-left: 10px;}

.p3{font-size: 2.6vw; color:#222; font-weight: 900;}

.p4{font-size: 1.4vw; color:#222;}














